#cr-stage {
  z-index: 0;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, rgb(19,23,28)),
  color-stop(1, rgb(36,45,56))
  );
}
#portrait {
  top: 9px;
  left: 8px;
  width: 218px;
  height: 64px;
  position: fixed;
  background: url("../img/portrait.png") top left no-repeat;
  z-index: 15;
}
#lifeBar {
  top: 14px;
  left: 90px;
  width: 130px;
  height: 17px;
  position: fixed;
  background: url("../img/life-bar.png") top left no-repeat;
  z-index: 15;
}
#lifeBarProgress {
  top: 14px;
  left: 90px;
  width: 130px;
  height: 17px;
  position: fixed;
  background: url("../img/life-bar-filled.png") top left no-repeat;
  z-index: 15;
}
#lifeBar span {
  top: 16px;
  left: 194px;
  width: 21px;
  height: 12px;
  position: fixed;
  background: url("../img/life-text.png") top left no-repeat;
  z-index: 15;
}
#energyBar {
  top: 34px;
  left: 91px;
  width: 129px;
  height: 17px;
  position: fixed;
  background: url("../img/energy-bar.png") top left no-repeat;
  z-index: 15;
}
#energyBarProgress {
  top: 34px;
  left: 91px;
  width: 129px;
  height: 17px;
  position: fixed;
  background: url("../img/energy-bar-filled.png") top left no-repeat;
  z-index: 15;
}
#energyBar span {
  top: 36px;
  left: 179px;
  width: 37px;
  height: 11px;
  position: fixed;
  background: url("../img/energy-text.png") top left no-repeat;
  z-index: 15;
}
#goldCoin {
  top: 53px;
  left: 201px;
  width: 16px;
  height: 16px;
  position: fixed;
  background: url("../img/gold-coin.png") top left no-repeat;
  z-index: 15;
}
#goldCount {
  top: 54px;
  left: 93px;
  width: 105px;
  font: bold 11px sans-serif;
  color: #62727b;
  z-index: 15;
  text-align: right;
  position: fixed;
}
#menu {
  top: 0;
  left: 598px;
  width: 84px;
  height: 27px;
  text-align: center;
  position: fixed;
  background: url("../img/menu-button.png") top left no-repeat;
  z-index: 15;
  cursor: pointer;
  text-decoration: none;
  color: #62727b;
}
#menu:hover {
  color: #000;
}
#menu span {
  top: 4px;
  left: 598px;
  width: 84px;
  position: fixed;
  text-align: center;
  font: bold 11px sans-serif;
  text-transform: uppercase;
}
#progressBarBelow {
  top: 47px;
  left: 234px;
  width: 468px;
  height: 26px;
  position: fixed;
  background: url("../img/progress-bar-below.png") top left no-repeat;
  z-index: 15;
}
#progressBar {
  top: 47px;
  left: 234px;
  width: 0;
  height: 26px;
  position: fixed;
  background: url("../img/progress-bar-over.png") top left no-repeat;
  z-index: 15;
}
#levelNumber {
  top: 22px;
  left: 234px;
  width: 468px;
  position: fixed;
  z-index: 15;
  text-align: center;
  color: #4f6d7c;
  font: 18px 'Bangers', cursive;
}
.wolfBig {
  width: 198px;
  height: 279px;
  background: url("../img/wolf-big.png") top left no-repeat;
  z-index: 35;
  position: fixed;
  top: 328px;
  left: -198px;
}
.pigBig {
  width: 199px;
  height: 276px;
  background: url("../img/pig-big.png") top left no-repeat;
  z-index: 35;
  position: fixed;
  top: 328px;
  right: -199px;
}
.wolfSpeech {
  padding: 5px;
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid #000;
  z-index: 35;
  position: fixed;
  width: 160px;
  text-align: left;
  top: 305px;
  left: 170px;
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 19px;
}
.pigSpeech {
  padding: 5px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 30px;
  z-index: 35;
  position: fixed;
  width: 160px;
  text-align: center;
  top: 305px;
  right: 170px;
  font-family: 'Eater', cursive;
  font-size: 19px;
}
.youWin {
  font-size: 40px;
  width: 710px;
  position: fixed;
  text-align: center;
  font-family: 'Bangers', cursive;
  color: #fff;
  top: 230px;
  z-index: 35;
}
.keyHelper {
  font-size: 20px;
  position: fixed;
  text-align: right;
  font-family: 'IM Fell DW Pica SC', serif;
  color: #000;
  z-index: 36;
  width: 45px;
  
}

.didacticiel01a {
  font-size: 35px;
  width: 710px;
  position: fixed;
  text-align: center;
  font-family: 'Bangers', cursive;
  color: #fff;
  top: 230px;
  z-index: 35;
}

.didacticiel01c {
  font-size: 20px;
  width: 150px;
  position: fixed;
  text-align: right;
  font-family: 'Bangers', cursive;
  color: #000;
  background: #fff;
  top: 300px;
  border: 2px solid #000;
  right: 100px;
  z-index: 35;
}

.didacticiel01b {
  border: 2px solid #000;
  font-size: 20px;
  width: 710px;
  width: 150px;
  position: fixed;
  text-align: left;
  font-family: 'Bangers', cursive;
  color: #000;
  bottom: 75px;
  background: #fff;
  left: 25px;
  z-index: 35;
}

#skillShop {
  top: 0;
  left: 0;
  position: fixed;
  width: 710px;
  height: 580px;
  background: url("../img/background-skillshop.png") top left no-repeat;
}
#skillShopLines {
  position: fixed;
  top: 115px;
  background: #fff;
}
.skillLine {}
#skillShopGolds {
  border: 1px solid #6c777c;
  border-radius : 8px;
  top: 30px;
  left: 490px;
  width: 190px;
  height: 45px;
  position: fixed;
  background: url("../img/bg-gold.png") top left repeat-x;
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 24px;
  color: #000;
  text-align: center;
}
#skillShopGolds div {
  padding: 5px 0 0 0;
}
#skillShopPlay {
  display: block;
  top: 500px;
  left: 510px;
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 32px;
  color: #fff;
  width: 180px;
  height: 60px;
  position: fixed;
  background: url("../img/bg-play.png") 0 0 no-repeat;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
#skillShopPlay:hover{
  background-position: -180px 0;
}
#skillShopPlay span {
  display: block;
  padding: 10px 0 0 0;
  
}
#skillShopBack {
  display: block;
  top: 500px;
  left: 30px;
  position: fixed;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 32px;
}

#skillShopBack:hover{
  color: #000;
}

#skillShopPlay span {
  display: block;
  padding: 10px 0 0 0;
}
